---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import type SketchInfo from "@lib/sketch_info";
import { DateTime } from "luxon";

interface SproutPage {
  url: URL;
  meta: SketchInfo;
}

const modules = import.meta.glob<SproutPage>("./sprouts/**/*.astro", {
  eager: true,
});
const sprouts: SproutPage[] = Object.values(modules);

function date_to_string(date_string: string): string {
  let date = DateTime.fromFormat(date_string, "yyyy-MM-dd", {
    zone: "America/Phoenix",
  });
  return date.toFormat("MMM d, yyyy");
}
---

<DefaultLayout title="index">
  <h1>Entropy Garden</h1>
  <h2>Sprouts</h2>
  <ul class="sprout-index">
    {
      sprouts.map((sprout) => (
        <li>
          <a href={sprout.url} class="sprout-card">
            <p class="sprout-card-name">
              {sprout.meta.name} - {date_to_string(sprout.meta.date)}
            </p>
            <p>{sprout.meta.description}</p>
            <ul>
              {(sprout.meta.tags || []).map((tag) => (
                <li>
                  <p>{tag}</p>
                </li>
              ))}
            </ul>
          </a>
        </li>
      ))
    }
  </ul>
</DefaultLayout>

<style>
  .sprout-index {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: var(--fs-400) 1rem;
  }

  .sprout-card {
    text-decoration: none;
    color: white;
    display: block;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: var(--fs-400);
    padding-block: calc(var(--fs-400) * 0.5);
    padding-inline: var(--fs-400);

    .sprout-card-name {
      text-decoration: none;
      color: white;
    }
  }
</style>
